<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/employee/create}" th:object="${employee}" method="post">
        <table>
            <tr>
                <td>
                    <label for = "name">
                        Name:
                    </label>
                </td>
                <td>
                    <span th:if = "${#fields.hasErrors('name')}" th:errors = "*{name}"></span>
                </td>
                <td>
                    <input id = "name" type="text" placeholder="name" th:field="*{name}" />
                </td>

                <td>
                    <button type = "submit">Add employee</button>
                </td>
            </tr>
        </table>

    </form>

</body>
</html>